
.beautText {
    color: white;
    font-weight: bold;
    text-align: center;
  }

.pop-up {
  position: fixed;
  top: 20px;
  right: 350px;
  margin:auto;
  height: 800px;
  width: 1000px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: plum;
  z-index: 1000;
}

.question {
  font-size: 25px;
  z-index: 1001;
}


.buttons {
  display:flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

