
.beautText {
    color: white;
    font-weight: bold;
    text-align: center;
  }

.pop-up {
  /* position: absolute;
  top: 10%; */
  position: fixed;
  top: 20px;
  right: 350px;
  margin:auto;
  height: 800px;
  width: 1000px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url("https://i.pinimg.com/originals/42/0e/55/420e553ac05ef62e4b114123e73865a0.gif"); */
  background-image: url("https://img.freepik.com/free-photo/3d-burning-blue-fire-flame-border_53876-102611.jpg?w=2000");
  
  background-color: white;
  z-index: 1000;
  /* cursor: url(./money-gif.png), auto;	 */
  
  /* cursor: move; */
}
.pop-up:hover {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), default;
}

.question {
  font-family: 'American Typewriter';
  font-size: 40px;
  z-index: 1001;
  color: white;

}


.noButton {
  margin-left: 32px;
  font-family: 'American Typewriter';
  font-size: 30px;
  color: white;
}


.yesButton {
  margin-left: 32px;
  font-family: 'American Typewriter';
  font-size: 30px;
  color: white;
}


